.button,
.icon-button {
  background-color: var(--primary-colour);
  margin: 0;
  border: none;
  border-radius: 10px;
  line-height: 48px;
  padding: 0 16px;
  color: #fff;
  font-weight: bold;
  font-size: 17px;
  -webkit-font-smoothing: antialiased;
  justify-content: center;
  position: relative;
  text-align: center;
  text-shadow: none;
  vertical-align: middle;
  width: 100%;
  display: flex;
  cursor: pointer;
}

.button:hover {
  cursor: pointer;
  opacity: 0.8;
}

.button.disabled {
  cursor: not-allowed;
  opacity: 0.5;
}

.icon-button {
  align-items: center;
  background-color: var(--secondary-colour);
  gap: 10px;
}

.icon-button > .icon {
  padding-right: 10px;
}
