.text {
  font-size: 17px;
  border-radius: 6px;
  line-height: 1.5;
  padding: 5px 10px;
  transition: box-shadow 100ms ease-in, border 100ms ease-in,
    background-color 100ms ease-in;
  border: 2px solid #dee1e2;
  color: rgb(14, 14, 16);
  background: #dee1e2;
  display: block;
  box-sizing: border-box;
  height: 48px;
}

.text:hover {
  border-color: #ccc;
  cursor: text;
}

.text:focus {
  border-color: var(--primary-colour);
  background: #fff;
  outline: none;
  cursor: auto;
}
